body {
  background-color: rgb(213, 193, 148);
}

.card {
  border: solid;
  border-radius: 2em;
  border-color: rgb(7, 55, 55);
  min-height: 100%
}

.card-image {
  height: 40vh;
  width: 100%;
  justify-items: center;
  align-items: center;
  object-fit: cover;
  object-position: center;

}



.card-table {
  display: flex;
  min-height: 50%;
  background-color: antiquewhite;
  margin-top: 2rem;
  border: solid;
  border-color: rgb(7, 55, 55);
  border-radius: 2em;

}

.table-btn {
  size: small;
}

.btn {
  border: solid;
  border-radius: 2em;
  border-color: black;
}