body {
  background-color: rgb(213, 193, 148);
}

.card {
  min-height: 100%;
  border: solid;
  border-color: rgb(7, 55, 55);

}

.card-image {
  max-height: 40dvh;
  width: 100%;
}

.card-header {
  justify-content: center;
  align-content: center;
  object-fit: cover;
  object-position: center;
}

.table {
  margin-top: 2rem;
  border: solid;
  border-color: rgb(7, 55, 55);

}