body {
  background-color: rgb(228, 213, 176);
}

.card {
  border: solid;
  border-radius: 2em;
  border-color: rgb(7, 55, 55);
  background-color: rgb(56, 173, 173);
  height: auto;
}

.card-image {
  height: 49vh;
  width: 100%;
  justify-items: center;
  align-items: center;
  object-fit: cover;
  object-position: center;

}

.card-table {
  display: flex;
  min-height: 60vh;
  background-color: white;
  margin-top: 2rem;
  border: solid;
  border-color: rgb(7, 55, 55);
  border-radius: 2em;

}

.table-btn {
  size: small;
}

.btn {
  border: solid;
  border-radius: 2em;
  border-color: black;
}